<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/form" method="post">
        <input type="text" placeholder="title" name="title">
        <input type="text" placeholder="discription" name="dis">
        <input type="date" name="date">
        <select name="" id="" name="ind">
            <option value="">low</option>
            <option value="">medium</option>
            <option value="">high</option>
        </select>
        <input type="submit" value="add data">
    </form>
</body>
</html>